
  body {
    background: url("https://www.bayofplentynz.com/assets/Uploads/Pou-carvings-on-The-Strand-Tauranga-v2.jpg")
  }
  h1 {text-align: right;
    color:aliceblue;
    font-family: monospace;
  }
  h2 {text-align: right;
    color: aliceblue;
    font-family: monospace;}
    
  h3 {text-align: right;
    color: aliceblue;
    font-family: monospace;}

p{display: inline-flexbox; 
    background-color: white;
    color: black;
   }

    p1 {display: inline-flexbox; 
    background-color: white;
    color: black;
    height: 100px;
  width: 100px ;}

  p2 {display: inline-box;
  background-color: white;
color: black;
}
p3 {display: inline-box;
  background-color: white;
color: black;}
ul {font-style: inherit;}