
  html {
    min-height: 100%;
 }
  body {
    background: url("https://forestfamilynz.files.wordpress.com/2018/09/img-3424.jpg")
  }

  h1 {text-align: center;
    color:rgb(4, 4, 4);
    font-family: monospace;
  }
  h2 {text-align: center;
    color: rgb(0, 0, 0);
    font-family: monospace;}
    
  h3 {text-align: center;
    color: rgb(0, 0, 0);
    font-family: monospace;}

p{display: inline-flexbox; 
    color: black;
   }

    p1 {display: inline-flexbox; 
    
    color: black;
    height: 100px;
  width: 100px ;
}

  p2 {display: inline-box;
  
color: black;
}
p3 {display: inline-box;
  text-align: ;
  
color: black;}

body {background-size: cover;
background-repeat: no-repeat;
background-position: center center; }

@media all and (min-width: 480px) and (max-width: 768px) {
#Emotional.Intelligence.html
body { background: url("https://www.callcentrehelper.com/images/stories/2019/11/brain-art-760.jpg") }
body {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
h1 {text-align: center;
  color:black;
  font-family: monospace;
}

h4{ font-family:'Times New Roman', Times, serif;
  text-decoration: underline;}

p {display:block;
  font-style: italic;
  font-variant-position: normal;
} 
}
@media all and (max-width: 480px) {
#javascript-intro.html
{ 
  background-color: darkred;
}
}

#problem-solving.html 
body {background-color: darkred;
      text-align: center;
      color: white}

p {
color: white;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
border-style: dashed; border-color: black; background-color: black;}

#neuroplasticity.html
{
background: url("https://forestfamilynz.files.wordpress.com/2018/09/img-3424.jpg")
}